.search-bar {
  position: absolute;
  top: 20px;
  left: 60px;
  width: 0;
  height: 30px;
  padding: 4.5px;
  border: 1px solid #606677;
  background-color: transparent; 
  color: #DFC385;
  border-radius: 1.5px;
  outline: none;
  display: block;
  overflow: hidden;
  transition: width 0.3s ease, opacity 0.3s ease; 
  opacity: 0; 
  cursor:default ;
  pointer-events: none;
}

.search-bar:focus {
  border-color: #DFC385;
}

.search-bar::placeholder {
  color: #606677;
}

.search-container.open .search-bar {
  width: 340px;
  opacity: 1  ; 
  cursor: auto;
  pointer-events: all;
}



@media (max-width: 1090px) {
  .search-container.open .search-bar {
    width: 270px;
  }
}

@media (max-width: 940px) {
  .search-container.open .search-bar {
    width: 190px;
  }
}

@media (max-width: 766px) {
  .search-container.open .search-bar {
    display: none;
  }
  .search-bar {
    display: none;
  }
  
  .search-container {
    display: none;
  }

}


