.search-form {
  display: none;
}

.search-input {
  display: none;
}

@media (max-width: 766px) {
  .search-input {
    width: 270px;
    display: block;
    padding: 8px;
    border: 1px solid #999;
    border-radius: 1px;
    font-size: 11px;
    align-items: center;
    background-color: #707B9E;
    color: #DFC385;
    outline: none;
  }

  .search-input:focus {
    border-color: #DFC385;
  }

  .search-input::placeholder {
    color: #999;
  }

  .search-form {
    display: block;
  }
}
