.search-bar {
  position: absolute;
  top: 25px;
  left: 65px;
  width: 0;
  height: 30px;
  padding: 4.5px;
  border: 1px solid #999;
  background-color: transparent; 
  color: #DFC385;
  border-radius: 1.5px;
  outline: none;
  display: block;
  overflow: hidden;
  transition: width 0.3s ease, opacity 0.3s ease; 
  opacity: 0; 
  cursor:default ;
  pointer-events: none;
}

.search-bar:focus {
  border-color: #DFC385;
}

.search-bar::placeholder {
  color: #999;
}

.search-container.open .search-bar {
  width: 340px;
  opacity: 1; 
  cursor: auto;
  pointer-events: all;
}
